%h1 Listing businesses

%table
  %thead
    %tr
      %th Company name
      %th Slug
      %th
      %th
      %th

  %tbody
    - @businesses.each do |business|
      %tr
        %td= business.company_name
        %td= business.slug
        %td= link_to 'Show', business
        %td= link_to 'Edit', edit_business_path(business)
        %td= link_to 'Destroy', business, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Business', new_business_path
