<li>
  <span class="event_link">
    <%= link_to invite.event.title, event_path(invite.event) %>
  </span>
  <span>
    Hosted by: 
    <%= link_to invite.event.business, user_path(invite.event.business) %>
  </span>
  <span>Current reply: <%= invite.status %></span>
  <span class="change_links">
    <%= link_to "change reply", edit_user_invite_path(invite.user, invite) %>
    <%= link_to "delete", invite, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  </span>
</li>
