
<div class="row event_show">
  <div class="col-md-8 col-md-offset-2" >
    <h1><%= @event.title %></h1>
    <h2 class="host">
      Hosted by: 
      <%= link_to @event.business, @event.business %>
    </h2>
    <p class="description"><%= @event.description %></p>
    <span class="event_date">
      <%= "#{@event.start_date}, Begins on " %>
    </span>
    <span class="timestamp">
      Created <%= time_ago_in_words(@event.created_at) %> ago.
    </span>
    <span class="current_reply">Current reply: <%= @invite.status %></span>
    <span class="reply_form">
      <%= form_for(:invite, url: user_invite_path(@user, @invite),
                            method: :patch) do |f| %>
        Change reply to: 

        <%= f.hidden_field :status, value: @invite.status %>

        <%= f.label :status, class: "radio-inline" do %>
          <%= f.radio_button :status, "yes", class: "radio-inline" %>
          <span>yes</span>
        <% end %>

        <%= f.label :status, class: "radio-inline" do %>
          <%= f.radio_button :status, "no", class: "radio-inline" %>
          <span>no</span>
        <% end %>

        <%= f.submit "Submit", class: "btn btn-primary reply_submit" %>
      <% end %>
    </span>
  </div>
</div>
