%p#notice= notice

%p
  %b First name:
  = @profile.first_name
%p
  %b Last name:
  = @profile.last_name
%p
  %b Gender:
  = @profile.gender
%p
  %b Date of birth:
  = @profile.date_of_birth
%p
  %b Contact number:
  = @profile.contact_number
%p
  %b Image:
  = @profile.image
