%article.col-md-4
  %h5
    = link_to truncate(event.title, length: 50), event
  - if event.image.present?
    = image_tag(event.image_url, class: "img-rounded")
  - else
    = image_tag("http://placehold.it/350x250", class: "img-rounded")
  %p
    by
    = link_to "#{event.business}", event.business
  %p.small
    %strong
      Date:
    = fa_icon("clock") + event.start_date.strftime("%v")
    to
    = event.end_date.strftime("%v")
  %p.small
    %strong
      Time:
    = fa_icon("fa-clock") + event.start_date.strftime("%I:%M %P")
    to
    = event.end_date.strftime("%I:%M %P")
  %blockquote
    .small= event.place.street
    .small= "#{event.place.city}" 
    .small= "#{event.place.state}"
    .small= "#{event.place.country}"