%article.col-md-4
  = image_tag(event.image_url, class: "img-rounded")

%article.col-md-8
  %h3
    = link_to "#{event.title}", event
    %small
      by
      = link_to "#{event.business}", event.business
  %p
    = fa_icon("clock") + event.start_date.strftime("%v")
    to
    = event.end_date.strftime("%v")
  %p
    = fa_icon("clock") + event.start_date.strftime("%I:%M %P")
    to
    = event.end_date.strftime("%I:%M %P")
  %blockquote
    = "#{truncate(event.description)}"
    %small= link_to "read more", event
  %p.small
    = "#{event.place.street}, #{event.place.city}, #{event.place.state}, #{event.place.country}, #{event.place.zipcode}"