= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :start_date, as: :datetime
    = f.input :end_date, as: :datetime
    = f.association :category
    = f.input :description

    = f.simple_fields_for :place do |p|
      = p.input :street
      = p.input :city
      = p.input :state
      = p.input :country
      = p.input :zipcode
    = @event.image_url if @event.image?
    = f.input :image
    = f.input :image_cache, as: :hidden
  .form-actions
    = f.button :submit
